@charset "utf8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    font: 1.6rem/1.5 Pretendard, sans-serif;
    font-weight: 900;
}

a {
    color: inherit;
    text-decoration: none;
}

.inner {
    width: 82.5rem;
    margin: 0 auto;
}

.main-banner img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.banner {
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
}
.main-banner {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.recommended-menu h3 {
    font-weight: 900;
    font-size: 3.125rem;
    padding: 1.875rem;
    color: #600d23;
}
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.delivery-services .button {
    width: 70%;
    height: 5rem;
    background-color: #fff;
    border-radius: 3.125rem;
    font-size: 1.4375rem;
    font-weight: 700;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delivery-services .button:hover {
    background: #600d23;
    color: #fff;
}
.delivery-services .button a:hover {
    color: #fff;
}
.delivery-services .button a {
    color: #000;
}

.gnb li {
    margin: 0 auto;
    display: block;
    color: #000;
}
.gnb {
    display: flex;
    width: 50%;
    height: 50%;
    list-style: none;
    margin: 0 auto;
    color: #ee0c50;
}
.gnb a {
    padding: 0 8.375rem 8.375rem;
    display: block;
    display: flex;
    padding: 1.25rem;
    font-size: 1.25rem;
    color: #600d23;
}

.logo {
    text-align: center;
    padding: 1.5rem;
}
.foot-logo {
    text-align: center;
    padding: 4.5rem 0 2.25rem;
}
.menu-carousel {
    display: flex;
    gap: 2rem;
    text-align: center;
    background-color: #fae6ea;
    justify-content: space-between;
}

.menu-carousel .menu-item {
    /* border: 1px solid #000; */
    /* width: 26.1rem; */
    /* min-height: 35rem; */
    width: 34.8%;
    flex: 1 1 30%;
    border: 1px solid #000;
    aspect-ratio: 1/1.408;
}

.menu-carousel .menu-item figure {
    width: 100%;
    aspect-ratio: 1/1.01;
}

.menu-carousel .menu-item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu-carousel dt {
    padding: 0.125rem;
    font-weight: 800;
    font-size: 1.5rem;
}
.menu-carousel dd {
    padding: 0.625rem;
    font-weight: 500;
    color: #666;
    /* font-size: 1.25rem; */
    display: block;
    /* border: 1px solid #000; */
    font-size: 1rem;
}

.recommended-menu {
    padding: 8.9375rem 7.375rem;
}
.recommended-menu .inner {
    background-color: #fae6ea;
}
.delivery-services {
    display: flex;
    flex-wrap: wrap;
}
.delivery-services h3 {
    font-weight: 900;
    font-size: 3.125rem;
    padding: 1.875rem;
    color: #000;
}
.delivery-services {
    display: flex;
    flex-wrap: wrap;
}
.delivery-options-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.delivery-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4.34375rem;
    /* border: 1px solid #000; */
}

.delivery-options li {
    width: 50%;
    text-align: center;
    margin-bottom: 1.25rem;
    padding: 4.40625rem 0;
    right: 8.25rem;
    /* border: 1px solid #000; */
}

.delivery-options img {
    width: 60%;
    height: auto;
    border: 1px solid #000;
}

.store-locator {
    padding: 4.25rem 0 15.5rem;
}
.store-locator h3 {
    font-weight: 900;
    font-size: 3.125rem;
    color: #000;
}
.market {
    margin-top: 8.6875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.125rem;
}
.store-locator figure {
    width: 26.625rem;
    height: 18rem;
    padding: 0;
}
.store-list {
    width: 36.125rem;
    height: 15.1875rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.125rem 1.1875rem;
}
.store-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.25rem;
    height: 4.3125rem;
    border: 1px solid #000;
    border-radius: 0.625rem;
    font-size: 1.4375rem;
    font-weight: 700;
}
.store-list li:hover a {
    background: #600d24;
    color: #fff;
}
.footer {
    background-color: #24060f;
    text-align: center;
}
.footer p {
    color: #666;
    font-size: 0.9375rem;
}
.sns-list .inner {
    display: flex;
    padding: 0.6875rem;
    padding-left: 37.5rem;
}
.sns-list {
    margin: 0 auto;
}
.sns-list li {
    padding: 0.6875rem;
}
.sns-list img {
    width: 3.5rem;
    height: 3.5rem;
}
.pagination {
    margin-top: 1.25rem;
    text-align: center;
    padding: 4.375rem;
}

.pagination a {
    margin: 0 0.3125rem;
    text-decoration: none;
    color: #600d23;
    border-radius: 0;
}

.pagination a:hover,
.pagination a.active {
    color: #000000;
}

@media (min-width: 375px) and (max-width: 520px) {
    .inner {
        width: 100%;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .logo {
        text-align: center;
        padding: 1rem 0;
        justify-content: center;
    }

    /* 메인 배너 */
    .main-banner img {
        width: 100%;
    }
    .main-banner {
        width: 100%;
    }

    /* 추천 메뉴 */
    .recommended-menu h3 {
        font-size: 1.2rem;
        display: flex;
        /* text-align: center; */
    }

    .menu-carousel {
        /* flex-direction: column; 세로로 정렬 */
        gap: 1rem;
    }

    .menu-carousel .menu-item {
        width: 100%;
        flex: 1 1 auto;
    }

    .menu-carousel dt {
        font-size: 1rem;
    }

    .menu-carousel dd {
        font-size: 0.875rem;
    }

    /* 배달 서비스 */
    .delivery-services h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    .delivery-options {
        flex-direction: column; /* 세로 정렬 */
    }

    .delivery-options li {
        width: 100%;
    }

    .delivery-options img {
        width: 80%; /* 모바일에서 이미지 크기 조정 */
        height: auto;
    }

    /* 매장 찾기 */
    .store-locator h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    .store-list {
        grid-template-columns: repeat(2, 1fr); /* 모바일에서 2열로 나열 */
        gap: 1rem;
    }

    .store-list li a {
        font-size: 1rem;
        text-align: center;
        width: 100%;
        height: auto;
    }

    /* 푸터 */
    .footer {
        padding: 2rem 1rem;
    }

    .foot-logo {
        padding: 2rem 0;
    }

    .sns-list {
        text-align: center;
    }

    .sns-list img {
        width: 2.5rem;
        height: 2.5rem;
    }
    .store-locator h3 {
        font-size: 1.8rem;
    }
    .recommended-menu .inner {
        background: #fff;
    }
    .menu-carousel {
        background: #fff;
    }
}
@media (min-width: 521px) and (max-width: 766px) {
    .inner {
        width: 100%;
        margin: 0 auto;
    }
    .store-locator h3 {
        font-size: 2.15rem;
    }
    .menu-carousel dd {
        padding: 0.625rem;
        font-weight: 500;
        color: #666;
        display: block;
        border: 1px solid #000;
        /* font-size: 30%; */
        font-size: 0.3rem;
    }

    .menu-carousel dt {
        font-size: 0.5rem;
    }

    .recommended-menu h3 {
        font-size: 1.8rem;
    }

    .delivery-services .inner h3 {
        font-size: 1.8rem;
    }

    .store-locator {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .store-locator .inner {
        display: flex;
        /* font-size: 1.8rem; */
        flex-direction: column;
        /* align-items: center; */
        /* text-align: center; */
        padding: 10px;
    }
    .store-locator {
        font-size: 1.8rem;
    }

    .market {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .market .inner {
        display: flex;
        /* flex-direction: column; */
    }

    .market .button {
        order: -1;
        margin-bottom: 1rem;
    }

    .market .store-list {
        /* display: grid; */
        grid-template-columns: repeat(3, 1fr);
        /* display: flex; */
        justify-content: center;
        gap: 1rem;
        /* width: 100%; */
    }

    .market .store-list li {
        /* width: auto; */
        display: block;
        /* display: flex; */
    }

    .market .store-list li a {
        display: block;
        text-align: center;
        font-size: 0.7rem;
        width: 150px;
        height: 20px;
    }
    /* .store-wrap {
        flex-direction: column-reverse;
    } */
}
@media (min-width: 375px) and (max-width: 582px) {
    .inner {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    .store-locator h3 {
        font-size: 2rem;
    }
    .menu-carousel dd {
        padding: 0.625rem;
        font-weight: 500;
        color: #666;
        display: block;
        border: 1px solid #000;
        /* font-size: 30%; */
        font-size: 0.21rem;
    }

    .menu-carousel dt {
        font-size: 0.3rem;
    }
    .menu-carousel {
        background: #fff;
    }
    .recommended-menu .inner {
        background: #fff;
    }

    .recommended-menu h3 {
        font-size: 1.4rem;
    }

    .delivery-services .inner h3 {
        font-size: 1.8rem;
    }

    .store-locator {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .store-locator .inner {
        display: flex;
        /* font-size: 1.8rem; */
        flex-direction: column;
        /* align-items: center; */
        /* text-align: center; */
        padding: 10px;
    }
    .store-locator {
        font-size: 1.8rem;
    }

    .market {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .market .inner {
        display: flex;
        /* flex-direction: column; */
    }

    .market .button {
        order: -1;
        margin-bottom: 1rem;
    }

    .market .store-list {
        /* display: grid; */
        grid-template-columns: repeat(3, 1fr);
        /* display: flex; */
        justify-content: center;
        gap: 1rem;
        /* width: 100%; */
    }

    .market .store-list li {
        /* width: auto; */
        display: block;
        /* display: flex; */
    }

    .market .store-list li a {
        display: block;
        text-align: center;
        font-size: 0.7rem;
        width: 150px;
        height: 20px;
    }
}

@media (min-width: 898px) and (max-width: 1098px) {
    .store-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .store-list li {
        display: inline-block;
        width: 33%;
    }

    .store-list li a {
        width: 100%;
        height: auto;
        display: block;
        font-size: 0.9rem;
        text-align: center;
        width: 100px;
        border-radius: 5px;
    }
    .market {
        gap: 2rem;
    }
}
@media (min-width: 767px) and (max-width: 897px) {
    .inner {
        width: 100%;
        margin: 0 auto;
    }

    .menu-carousel dd {
        padding: 0.625rem;
        font-weight: 500;
        color: #666;
        display: block;
        border: 1px solid #000;
        font-size: 0.5rem;
        font-size: 1rem;
    }

    .recommended-menu h3 {
        font-size: 2rem;
    }

    .delivery-services .inner h3 {
        font-size: 1.8rem;
    }

    .store-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .store-list li {
        display: inline-block;
        width: 33%;
    }

    .store-list li a {
        width: 100%;
        height: auto;
        display: block;
        font-size: 0.9rem;
        text-align: center;
        width: 100px;
        border-radius: 50px;
    }
    .market {
        gap: 2rem;
    }
}
@media (min-width: 898px) and (max-width: 1098px) {
    .store-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .store-list li {
        display: inline-block;
        width: 33%;
    }

    .store-list li a {
        width: 100%;
        height: auto;
        display: block;
        font-size: 0.9rem;
        text-align: center;
        width: 100px;
        border-radius: 5px;
    }
    .market {
        gap: 2rem;
    }
}

@media (min-width: 967px) and (max-width: 1099px) {
    .menu-carousel dd {
        padding: 0.625rem;
        font-weight: 500;
        color: #666;
        /* font-size: 1.25rem; */
        display: block;
        border: 1px solid #000;
        font-size: 1rem;
    }
    .menu-carousel dt {
        font-size: 1rem;
    }
}
@media (min-width: 1099px) and (max-width: 1420px) {
    .store-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .store-list li {
        display: inline-block;
        width: 33%;
    }

    .store-list li a {
        width: 100%;
        height: auto;
        display: block;
        font-size: 1.5rem;
        text-align: center;
        width: 180px;
        border-radius: 10px;
    }
    .market {
        gap: 2rem;
    }
}
@media (min-width: 768px) and (max-width: 1100px) {
    .inner {
        width: 100%;
        margin: 0 auto;
    }
    .inner h3 {
        padding: 10px;
        font-size: 2rem;
        /* font-size: 2rem; */
    }
    .inner dl dt {
        font-size: 0.8rem;
    }
    .menu-carousel dd {
        /* padding: 0.625rem; */
        font-weight: 500;
        color: #666;
        font-size: 0.5rem;
        /* font-size: 1.25rem; */
        display: block;
        /* border: 1px solid #000; */
        /* font-size: 0.5rem; */
        border: 1px solid #000;
    }
    .recommended-menu h3 {
        font-size: 2rem;
    }
}

.main-banner img {
    width: 100%;
    height: auto;
}

.delivery-services .button {
    width: 70%;
    height: 4.5rem;
    font-size: 1.2rem;
}
.gnb {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.gnb li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.gnb a {
    padding: 1rem;
    font-size: 1.2rem;
}

.recommended-menu {
    width: 100%;
}
.menu-carousel dd {
    /* padding: 0.625rem; */
    font-weight: 500;
    color: #666;
    /* font-size: 0.8rem; */
    /* font-size: 1.25rem; */
    display: block;
    /* border: 1px solid #000; */
    /* font-size: 0.5rem; */
    border: 1px solid #000;
}
.menu-carousel dt {
    font-weight: 700;
    /* font-size: 0.5rem; */
    /* border: 1px solid #000; */
}

@media (min-width: 1024px) and (max-width: 1900px) {
    .inner {
        width: 100%;
        padding: 0 1rem;
    }
    .menu-carousel dd {
        /* padding: 0.625rem; */
        font-weight: 500;
        color: #666;
        /* font-size: 1.25rem; */
        display: block;
        /* border: 1px solid #000; */
        font-size: 0.6rem;
    }
    .menu-carousel dt {
        font-size: 1rem;
        /* border: 1px solid #000; */
    }
    .recommended-menu h3 {
        font-size: 2rem;
    }
}
