@charset "utf-8";

.menu-header .inner h3 {
    font-weight: 700;
    /* font-size: 3.75rem; */
    font-weight: bold;
    /* margin-left: 12.5rem; */
    color: #803e51;
}

.menu-navigation ul {
    /* padding: 0 6.6875rem; */
    display: flex;
    justify-content: center;
    margin-top: 0.9375rem;
    /* height: 70px; */
}
h3 {
    color: #803e51;
    font-size: 1.2rem;
    /* display: none; */
}
h2 {
    color: #803e51;
    font-size: 1.5rem;
    padding-right: 246px;
}

.menu-navigation ul li {
    margin: 0 0.9375rem;
}

.menu-navigation ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding-bottom: 0.3125rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.menu-navigation ul li a.active,
.menu-navigation ul li a:hover {
    color: #c0392b;
    border-bottom: 2px solid #c0392b;
}
.product-list .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    /* margin-top: 2.5rem; */
}
/* .recommended-menu {
    padding: 8.9375rem 7.375rem;
} */
.product-item {
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: scale(1.05);
}

.image-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.product-item:hover .image-wrapper img {
    transform: scale(1.2);
}

.info-wrapper {
    background-color: white;
    padding: 1.25rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -0.625rem 1.25rem rgba(0, 0, 0, 0.1);
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.product-item:hover .info-wrapper {
    transform: translateY(0);
}

.product-name {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0.625rem 0;
}

.product-price {
    color: #c0392b;
    font-size: 1rem;
}

.login {
    display: flex;
}
.login a {
    padding: 1.9375rem;
    font-size: 0.9375rem;
}
@media (max-width: 520px) {
    h2 {
        font-size: 0.8rem;
        /* width: 70px; */
        height: 40px;
        padding-left: -20px;
    }
    .sns-list .inner {
        /* display: block; */
        text-align: center;
        justify-content: center;
        /* padding: 0; */
        /* padding: 2rem 1rem; */
    }
    .sns-list img {
        width: 2.5rem;
        height: 2.5rem;
    }
    .menu-navigation {
        font-size: 1rem;
        margin-bottom: 30px;
    }
    .menu-navigation li a {
        display: flex;
    }
    .menu-navigation ul {
        display: flex;
    }
    /* .foot-text p {
        font-size: 0.4rem;
    } */
    .menu-navigation ul {
        padding-left: 30px;
    }
    .info-wrapper {
        background-color: white;
        /* padding: 1.25rem; */
        padding: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        box-shadow: 0 -0.625rem 1.25rem rgba(0, 0, 0, 0.1);
        transform: translateY(100%);
        transition: transform 0.3s ease;
    }

    .product-item:hover .info-wrapper {
        transform: translateY(0);
    }

    .product-name {
        font-size: 0.5rem;
        font-weight: bold;
        margin: 0.625rem 0;
    }
    .product-price {
        font-size: 0.5rem;
    }
    .foot-text p {
        font-size: 0.5rem;
    }
}
@media (max-width: 999px) {
    h2 {
        font-size: 0.76rem;
    }

    /* .menu-navigation ul {
        height: 40px;
    } */
    /* .menu-navigation ul {
        height: 40px;
    } */
    .foot-text p {
        font-size: 0.7rem;
    }
    /* .menu-navigation ul {
        height: 10px;
    } */
}
@media (max-width: 1024px) {
}
